
      <div class="row" style="margin-top: 25px ;">

      <div class="col-sm-3" style="margin: 25px ;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Users</h5>
            <p class="card-text">{{data.userTotalCount}}</p>
          </div>
        </div>
      </div>

    <div class="col-sm-3" style="margin: 25px ;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Donation Posts</h5>
             <p class="card-text">{{data.donationTotalCount}}</p>
          </div>
        </div>
      </div>

    <div class="col-sm-3" style="margin: 25px ;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Donors</h5>
             <p class="card-text">{{data.donorTotalCount}}</p>
          </div>
        </div>
      </div>

      <div class="col-sm-3" style="margin: 25px ;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Users Onboard Today</h5>
            <p class="card-text">{{data.userTodayTotalCount}}</p>
          </div>
        </div>
      </div>

    <div class="col-sm-3" style="margin: 25px ;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Donation Posts Today</h5>
            <p class="card-text">{{data.donationTodayTotalCount}}</p>
          </div>
        </div>
      </div>

    <div class="col-sm-3" style="margin: 25px ;">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total Donors Today</h5>
            <p class="card-text">{{data.donorTodayTotalCount}}</p>
          </div>
        </div>
      </div>
      
    </div>
      
    </div>